.main__middle {

    .main__middle__title {
        margin-top: 70px;
        margin-bottom: 20px;

    }

    .main__middle__container__card {
        display: flex;
        justify-content: space-between;

        
    }
}