.main__header {

    .main__header__title {
        margin-top: 3%;
        margin-bottom: 20px;
    }

    .main__card__container {
        font-size: 60px;

        .main__card__container__top {
            // display: flex;
            // justify-content: space-between;

            .main__card__a {
                position: relative;

                .main__card__a__p {
                    position: absolute;
                    inset: 0;
                    color: var(--white-text);
                }
            }

        }

        .main__card__container__bot {
            // display: flex;
            // justify-content: space-between;

            .main__card__b {
                position: relative;

                .main__card__b__p {
                    position: absolute;
                    inset: 0;
                    color: var(--white-text);
                }
            }
        }
    }
}